<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Ticker not found.. Populate the info</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
	<link rel="stylesheet" type="text/css" href="/data_table_style.css">
        <script src="/uglyfinance_new_table.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
	<script>
var TOTALROWS = 0, TOTALCOLS = 0, INITCOLS = 7, INITROWS = 5;
var start_year = 2003;
var exog_vars = ["Revenue", "Earnings", "CSO", "Equity", "IT Rate"]; 
var htmlformat = ["dollar", "dollar", "number", "dollar", "percent"];
var table = document.createElement('table');
var tr=[], th=[], divth=[], inputth=[], td=[], divtd=[], inputtd=[], text=[]; 

</script>
</head>

<body>
<div> <script> insert_table(); </script> </div>

<div> 
<p id="myP"></p>
</div>

</body>
</html>
